<!doctype html>
<html lang="en">

<head>
    <title>DisqusCircle - Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" type="text/css" href="/css/auth.css">
</head>

<nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <img src="/images/icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
            DisqusCircle
        </a>
    </nav>
    

<body>
    <div class="container">
        <div id="wrapper">
            <% if (message != undefined) { %>
            <div class="alert alert-primary text-center" role="alert">
                <%= message %>
            </div>
            <% } %>
            <div class="card text-center">
                <h5 class="card-header">Register</h5>
                <div class="card-body">
                    <img src="images/default.png" height="134" width="134"><br><br>
                    <form action="/register" method="post">
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span></div>
                            <input class="form-control" name="username" type="text" placeholder="Username" required maxlength="30">
                        </div><br>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span></div>
                            <input class="form-control" name="password" type="password" placeholder="Password" required maxlength="30">
                        </div><br>
                        <button class="btn btn-primary" type="submit" style="width:100%;">Enter</button>
                        <span id="lower">Already a member? <a href="/login">Sign in</a></span>
                    </form>
                </div>
            </div><br>
        </div>
    </div>
</body>

</html>