<div class="btn-group" style="width: 100%">
<a class="btn btn-primary auth-req" href="/submit/post" id="submit-post" style="width: 100%">New post</a>
</div>
<br><br>

<a class="btn btn-block btn-light auth-req" href="/submit/topic" id="create-topic">Create topic</a><br>