<div class="btn-group" style="width: 100%">
    <a class="btn btn-primary auth-req" href="/r/<%=name%>/submit/post" id="submit-post" style="width: 100%">New post</a>
    </div>
    <br><br>
    
<% if(locals.isauth) { %>
    <% if(state == false) { %>
        <a class="btn btn-block btn-light auth-req" href="javascript:void(0)" id="subscribe">Subscribe</a>
    <% } else if (state == true) { %>
        <a class="btn btn-block btn-light auth-req" href="javascript:void(0)" id="subscribe">Unsubscribe</a>
    <% } %>
<% } else {%>
    <a class="btn btn-block btn-light auth-req" href="javascript:void(0)" id="subscribe">Subscribe</a>
<% } %>
<br>