<h4 class="text-center">Topics (<%=topics.length %>)</h4>
<table class="table table-striped">
    <tbody>
<% if (topics != undefined) { 
    topics.forEach((s) => { %>
        <tr>
        <td><a href="/r/<%= s.name %>">/r/<%= s.name %></a></td>
        </tr>
    <% }); %>
    <% if(topics.length == 0) { %>
        You are not subscribed to any topic
    <% } %>
<% } %>
    </tbody>
</table>   