<!doctype html>
<html lang="en">

<head>
    <title>DisqusCircle - Settings</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" type="text/css" href="/css/auth.css">
</head>

<%- include('partials/nav', {user: locals.user, karma}) %>

<body>
    <div class="container">
        <div id="wrapper">
            <div class="card text-center">
                <h5 class="card-header">Settings</h5>
                <div class="card-body">
                    <button class="btn btn-success btn-block" id="change-password" type="submit">Change password</button><br>
                    <button class="btn btn-danger btn-block" id="delete-account" type="submit">Delete account</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="/js/settings.js"></script>
</body>

</html>