<!doctype html>
<html lang="en">
    <%- include('../partials/head', {title: "Frontpage - new subbedit"}) %>

<body>
    <%- include('../partials/nav', {user: locals.user, karma}) %>
    <%- include('../partials/jumbotron', {name: "Frontpage"}) %>
    <span id="auth"><%= isAuth %></span>

    <div class="grid-container">
            <div class="sidebar">
                <%- include('../partials/sidebar_index_actions') %>
                <%- include('../partials/sidebar_index_subscribed', {isAuth, subscribed}) %>
            </div>

        <div class="main">
            <h4>new topic</h4>
            <div class="submit-wrapper">
                <% if(!locals.user) { %>
                    You must be logged in to submit a post / link / topic.
                <% } else { %>
                <form id="form-topic" action="/submit/topic" method="post">
                    <input type="text" class="form-control" name="topic" id="topic_form" placeholder="Enter topic" required>
                    <div class="invalid-feedback">That topic already exists!</div><br>
                    <textarea class="form-control" rows="5" name="description" placeholder="Enter description" required></textarea><br>
                    <button type="submit" class="btn btn-primary auth-req">Submit</button>
                </form>
                <% } %>
            </div>
        </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/validator/10.7.1/validator.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/autosize@4.0.2/dist/autosize.min.js"></script>

        <script src="/js/index.js"></script>
        <script src="/js/submit.js"></script>

</body>

</html>